*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    border: none;
    outline: none;
    color: white;
}

body{min-height: 100vh; background-color: #080f28;}

button{background-color:transparent;}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #141a32;
}

.nav-title{margin: 5px 0px;}

input{
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

input:focus{outline: 2px solid #007aff; color: black;}

.media-container{
    position: relative;

    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
    gap: 25px;

    width: 100%;
    padding: 20px;
}

.movie-card{
    position: relative;
    width: 200px;
    height: 300px;
}

.movie-card:hover{cursor: pointer;}

.movie-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    z-index: -3;

    width: 100%;
    height: 100%;
}

.movie-card:hover > .movie-content > .movie-card-info-container{visibility: visible;}

.movie-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}


.modal-container{
    display: flex;
    position: absolute;
    z-index: 998;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    align-items: center;
    justify-content: center;

    width: 100%;
    min-height:100vh;
    background-color: rgba(0, 0, 0, 0.842);
}
.modal-window{
    display: flex;
    width: 555px;
    height: 400px;

    background-color: #141a32;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.modal-img{object-fit: cover; height: 100%;}

.modal-info-container{width: 100%; padding: 10px;}

.modal-mediatype{
    margin-bottom: 12px;
    font-size: 14.5px;
    font-weight: normal;
}

.modal-container-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    cursor: pointer;
}

.modal-title{margin-top: 5px;}

.modal-description{margin-top: 10px; text-align: justify;}

.modal-imdb-btn{
    background-color: #ffcd35;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}


.modal-sinopsis-title{font-weight: bold;}

.modal-imdb-btn:hover{
    background-color: #ffc005;
    transition: 230ms ease-in-out all;
}

.color-black{color: black;}

.modal-imdb-btn a{text-decoration: none; color: black;}

.hidden{
    visibility: hidden;
    opacity: 0;
    transition: 230ms all ease-in-out;
    order: 1;
}

@media screen and (max-width:1259px) {
    .media-container{
        grid-template-columns: repeat(3, minmax(100px,1fr));
        grid-template-rows: repeat(3, minmax(100px, 1fr));
    }
    
}

@media screen and (max-width:729px) {

    .media-container{
        grid-template-columns: repeat(2, minmax(100px,1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media screen and (max-width:493px) {

    .media-container{
        grid-template-columns: repeat(2, minmax(100px,1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }

}

@media screen and (max-width:459px) {

    .media-container{
        grid-template-columns: repeat(2, minmax(100px,1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }

}

@media screen and (max-width:360px) {

    .media-container{
        grid-template-columns: repeat(2, minmax(100px,1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
    }

    .movie-card{
        width: 120px;
        height: 180px;
    }
    
}
